<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Portfolio Rebalancing Test Suite" verbose="2" parallel="none">

  <test name="All Tests">
    <classes>
      <class name="com.crd.rebalancing.tests.RebalancingTest"/>
    </classes>
  </test>

</suite>
